.listContainer{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    }
    .items{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
    font: bold;
    padding: 20px;
    }
    .styleStyle{
    border: 1px solid #f4f4f4;
    }
    .deleteListItem{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
    }